In [1]:
is_sunny =True
temp = 25
if is_sunny :
    print("it's sunny day !")
    if temp >20:
        print("the weather is warm")
    else:
        print("the weather is cool")
else:
    print("it's not sunny day .")

it's sunny day !
the weather is warm

In [ ]:
grade = int(input("enter your grade "))
if 90<= grade <=100:
    print ("A")
elif 80 <= grade <= 90:
    print("B")
elif 70 <= grade <= 80:
    print("C")
elif 60 <= grade <= 70:
    print("D")

In [10]:
for i in range (6):
     if i == 3:
      continue
     print(i)

0
1
2
4
5

In [11]:
for i in range(6):
    if i ==4:
        break
    print(i)

0
1
2
3

In [ ]:
for i in range(5):
    if i ==2:
        pass
    else:
      print(i)

0
1
3
4
5

In [15]:
x= 6
while x>0:
  print("python")
  x-=1

python
python
python
python
python
python

In [25]:
def info_user(name,age):
   """
   param_1 : take y= the name of user
   type param 1: str
   type param_2 : take the age of the user
   type param_2 : int
   returne : returne string of the name and age 
   type return : str
    """
   return f"my name is {name} and my age is {age}"
   
info_user= info_user("mohab",21)
print(info_user)

my name is mohab and my age is 21

In [33]:
def func_1 (name , age ):
    print(f"my name is {name} , my age is {age}")
func_1(age =21 ,name="mohab")

my name is mohab , my age is 21

In [34]:
def func_1 (name , age ):
    print(f"my name is {name} , my age is {age}")
func_1(name ="mohab", age =21)

my name is mohab , my age is 21

In [39]:
def  function_1(*name):
    print(name)
    print(type(name))
function_1("hello","python","amit" , 2, 2.5,True,["mohab",154,98,"aaaa"])

('hello', 'python', 'amit', 2, 2.5, True, ['mohab', 154, 98, 'aaaa'])
<class 'tuple'>

In [ ]:
x=20
"the value of {}".format(x)

In [41]:
def  function_1(**name):
    print(name)
    print(type(name))
function_1(key ="hello",key_2="python" ,x= 2,y= 2.5,b=True,)

{'key': 'hello', 'key_2': 'python', 'x': 2, 'y': 2.5, 'b': True}
<class 'dict'>

In [44]:
result = lambda x: x+10
result(10)
print(type(result))

<class 'function'>

In [48]:
function_name = lambda x: x+10
function_name(5)
print(function_name)

<function <lambda> at 0x000002369E03EA20>

In [50]:
function_name = lambda x,y : x+y

print(function_name(5,10))

15