In [31]:
list =[1,2,3,4,"DEPI", "LEARNING",True,[1,2,3,"tRUE",["ML","DL","DS"]]]
print(type(list))

<class 'list'>

In [ ]:
name = "mohab"
print(type(name))
my_list = list(name)      

print(type(my_list))
print(my_list)

my_list[7][4][0] = "DS"

In [ ]:
num =5,6
list (num)

In [27]:
list_2 =["depi","learning","python"]
list_3 = list_2.append(10)
list_2.insert(0,"Amitt")
print(list_2)

['Amitt', 'depi', 'learning', 'python', 10]

In [30]:
list =[1,2,3]
list_2 =[4,5,6]
list.extend(list_2)
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
list = ["depi","learning ","learning","python"]
list.remove()
print(list)

In [37]:
list = ["depi","learning ","learning","python"]
new =list.pop()
print(new)
print(list)

python
['depi', 'learning ', 'learning']

In [42]:
del list [:]
print(list)

[]

In [43]:
name =input()
print(type(name))

<class 'str'>

In [ ]:
name = input("enter name")
id =input("enter id")
print("my name "name,"and my id is "id )

mohab 44

In [58]:
name = input("enter name")
id =input("enter id")
print(f"my name {name} , and my id is {id}")

my name mohab , and my id is 47952

In [53]:
# quick quiz
list = ["amit", "learning", "python", "machine learning", "data science", "deep learning"]

item = input("enter the item ")

if item in my_list:
    my_list.remove(item)
print( my_list)

['learning', 'python', 'machine learning', 'data science', 'deep learning']

In [54]:
list_new = ["amit", "learning", "python", "machine learning", "data science", "deep learning"]
item = input("enter the item ")
list_new.remove(item)
print(f"output list ={list_new}")

output list =['learning', 'python', 'machine learning', 'data science', 'deep learning']

In [55]:
my_list =[1,2,2,3]
my_list.index(2)

1

In [56]:
my_list =[1,2,2,3]
my_list.count(2)

2

In [59]:
my_list_2 =[20,30,48,19,72,50]
my_list_2.sort()
print(my_list_2)

[19, 20, 30, 48, 50, 72]

In [60]:
my_list_2 =[20,30,48,19,72,50]
my_list_2.reverse()
print(my_list_2)

[50, 72, 19, 48, 30, 20]

In [61]:
my_list_2 =[20,30,48,19,72,50]
my_list_2.clear()
print(my_list_2)

[]

In [ ]:
############################################################################3
###########################TUPLE#############################################

In [62]:
my_tuple=[20,30,48,19,72,50]
my_tuple.sort()
print(my_tuple)

[19, 20, 30, 48, 50, 72]

In [ ]:
name = "mohab"
tuple(name)
list_1 =list(tuple)
print(list_1)

In [66]:
color={"red"}
print(type(color))

<class 'set'>

In [67]:
set_a ={1,2,3}
set_b ={3,4,5}
print(set_a.intersection(set_b))

{3}

In [68]:
set_a ={1,2,3}
set_b ={3,4,5}
print(set_a.union(set_b))

{1, 2, 3, 4, 5}

In [69]:
set_a ={1,2,3}
set_b ={3,4,5}
print(set_a.difference(set_b))

{1, 2}

In [70]:
dict_1 ={"Key1":12,"key2":"python"}
print(type(dict_1))

<class 'dict'>

In [79]:
dict_1 ={"key1":12,"key2":"python"}
dict_1["key1"] =12.9
dict_1

{'key1': 12.9, 'key2': 'python'}

In [80]:
key_dict =[("a",1),("b",2),("c",3)]
conv_dict =dict(key_dict)
print(conv_dict)

{'a': 1, 'b': 2, 'c': 3}

In [83]:
num = int(input("enter your number "))
type(num)

int

In [87]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print(f"summation :{num1+num2}")
print(f"subtraction :{num1-num2}")
print(f"multibly :{num1*num2}")
print(f"divition :{num1/num2}")

summation :9.0
subtraction :1.0
multibly :20.0
divition :1.25

In [88]:
a = 300
b = 33
if b > a:
    print("b is greater than a ")
else:
    print("b is not greater than a")

b is not greater than a

In [90]:
x =20 
result ="even" if x % 2 ==0 else "odd"
print(result)

even